<% content_for :title, "Sign In" %>

<%= tag.div(flash[:alert], class: "flash alert") if flash[:alert] %>
<%= tag.div(flash[:notice], class: "flash notice") if flash[:notice] %>

<h1>Sign In</h1>

<%= form_with url: session_path do |form| %>
  <div class="field">
    <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address] %>
  </div>
  <div class="field">
    <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72 %>
  </div>
  <%= form.submit "Sign in" %>
<% end %>

<p class="auth-links">
  <%= link_to "Forgot password?", new_password_path %> |
  <%= link_to "Sign up", new_registration_path %>
</p>
