<% content_for :title, @book.title %>

<%= tag.div(flash[:alert], class: "flash alert") if flash[:alert] %>
<%= tag.div(flash[:notice], class: "flash notice") if flash[:notice] %>

<div class="book-detail">
  <h1><%= @book.title %></h1>
  <p>by <%= @book.author %></p>
  <p><%= simple_format(@book.description) if @book.description.present? %></p>
  <% if @book.genres.any? %>
    <div class="genre-tags">
      <% @book.genres.order(:name).each do |genre| %>
        <span class="genre-tag"><%= genre.name %></span>
      <% end %>
    </div>
  <% end %>
</div>

<% if Current.user == @book.user %>
  <div class="book-actions">
    <%= link_to "Edit", edit_book_path(@book), class: "btn" %>
    <%= button_to "Delete", @book, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
  </div>
<% end %>

<p class="section-label">Reviews</p>

<% if @reviews.any? %>
  <ul class="review-list">
    <%= render @reviews %>
  </ul>
<% else %>
  <p>No reviews yet.</p>
<% end %>

<% if authenticated? %>
  <% if Current.user == @book.user %>
    <p><em>You can't review your own book.</em></p>
  <% elsif @current_user_review.nil? %>
    <%= link_to "Write a Review", new_book_review_path(@book), class: "btn btn-primary" %>
  <% end %>
<% end %>

<%= link_to "Back to Books", books_path, class: "btn" %>