<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>

<% if review.errors.any? %>
  <div style="color:red">
    <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: [ book, review ] do |form| %>
  <%= form.label :rating %><br>
  <%= form.select :rating, (1..5).to_a, prompt: "Select a rating" %><br>

  <%= form.label :body %><br>
  <%= form.text_area :body, required: true %><br>

  <%= form.submit %>
<% end %>
