<%= tag.div(flash[:alert], class: "flash alert") if flash[:alert] %>

<% if review.errors.any? %>
  <div class="errors">
    <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: [ book, review ] do |form| %>
  <div class="field">
    <%= form.label :rating %>
    <%= form.select :rating, (1..5).to_a, prompt: "Select a rating" %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, required: true %>
  </div>

  <div class="form-actions">
    <%= form.submit %>
    <%= link_to "Back to Book", book, class: "btn" %>
  </div>
<% end %>
